;
; Unicall telephony channel driver
;
; Sample configuration file
;
; $Id$
;
[channels]
;
; Default language
;
;language=en
;
; Default context
;
context=default
;
; Whether or not to use caller ID
;
usecallerid=yes
;
; Whether or not to hide outgoing caller ID
;
hidecallerid=no
;
; Whether or not restrict outgoing caller ID (will be sent as ANI only, not available for the user)
; Mostly use with FXS ports
;
;restrictcid=no
;
; Support Caller*ID on Call Waiting
;
callwaitingcallerid=yes
;
; Support three-way calling
;
threewaycalling=yes
;
; Support flash-hook call transfer (requires three way calling)
;
transfer=yes
;
; Support call forward variable
;
cancallforward=yes
;
; Whether or not to support Call Return (*69)
;
callreturn=yes
;
; Enable echo cancellation 
; Use either "yes", "no", or a power of two from 32 to 256 if you wish
; to actually set the number of taps of cancellation.
;
echocancel=yes
;
; Generally, it is not necessary (and in fact undesirable) to echo cancel
; when the circuit path is entirely TDM.  You may, however, reverse this
; behavior by enabling the echo cancel during pure TDM bridging below.
;
echocancelwhenbridged=yes
;
; In some cases, the echo canceller doesn't train quickly enough and there
; is echo at the beginning of the call.  Enabling echo training will cause
; callweaver to briefly mute the channel, send an impulse, and use the impulse
; response to pre-train the echo canceller so it can start out with a much
; closer idea of the actual echo.  Value may be "yes", "no", or a number of
; milliseconds to delay before training (default = 400)
;
;echotraining=yes
;echotraining=800
;
; If you are having trouble with DTMF detection, you can relax the
; DTMF detection parameters.  Relaxing them may make the DTMF detector
; more likely to have "talkoff" where DTMF is detected when it
; shouldn't be.
;
;relaxdtmf=yes
;
; You may also set the default receive and transmit gains (in dB)
;
rxgain=0.0
txgain=0.0
;
; Logical groups can be assigned to allow outgoing rollover.  Groups
; range from 0 to 31, and multiple groups can be specified.
;
group=1
;
; Ring groups (a.k.a. call groups) and pickup groups.  If a phone is ringing
; and it is a member of a group which is one of your pickup groups, then
; you can answer it by picking up and dialing *8#.  For simple offices, just
; make these both the same
;
callgroup=1
pickupgroup=1
;
; Specify whether the channel should be answered immediately or
; if the simple switch should provide dialtone, read digits, etc.
;
immediate=no
;
; CallerID can be set to "asreceived" or a specific number
; if you want to override it.  Note that "asreceived" only
; applies to trunk interfaces.
;
;callerid=2564286000
;
; AMA flags affects the recording of Call Detail Records.  If specified
; it may be 'default', 'omit', 'billing', or 'documentation'.
;
;amaflags=default
;
; Channels may be associated with an account code to ease
; billing
;
;accountcode=lss0101
;
; For fax detection, uncomment one of the following lines.  The default is *OFF*
;
;faxdetect=both
;faxdetect=incoming
;faxdetect=outgoing
;faxdetect=no
;
; Select which class of music to use for music on hold.  If not specified
; then the default will be used.
;
;musiconhold=default
;
;protocolclass=fx
;protocolvariant=ls,hk
;protocolend=co
;group = 3
;channel = 280-283

;protocolclass=fx
;protocolvariant=ls,hk
;protocolend=cpe
;group = 4
;channel = 284

;
; Set up E1s 2 and 3 to work in China MFC/R2 mode. A maximum of 20 ANI digits
; will be accepted. 7 DNIS digits are expected. MFC/R2 uses the E1s in CAS mode,
; so time slot 16 of each E1 must be skipped when allocating the channels.
;
;loglevel=255
protocolclass=mfcr2
; For MFC/R2 an optional fourth parameter for the variant is composed of bits,
; which must be OR'ed together, as follows:
;
;   1:  Play progress tones. These are usually handled by the far end switch, but
;       may need to be sent as audio through the channel on some systems.
;   2:  Play disconnect tone. The disconnect tone is usually handled by the far end
;       switch, but may need to be sent as audio through the channel on some systems.
;   4:  Play ringback tone. The ringback tone is usually generated by something
;       downstream of the MFC/R2 software, but may need to be generated here on some
;       systems.
;   8:  Get ANI after DNIS. The usual behaviour for incoming calls is to get the
;       calling party category and the ANI as soon as possible, and to get the DNIS
;       afterwards. This doesn't work on all systems, so the option to reverse the
;       behaviour is provided.
;   16: Use immediate accept. Most variants of MFC/R2 offer a way to go directly to
;       the call accepted state, bypassing the use of group B and II tones. This option
;       enables the use of that feature for incoming calls.
;
protocolvariant=cn,20,7
protocolend=co
group = 3
channel = 31-46
;skip time slot 16
channel = 48-62
channel = 63-77
;skip time slot 16
channel = 79-93
